body {
  background-color: #FFFFEO;
  font-family: Arial, sana-serif;
  color: #191970}
.kartu-profil {
    width: 300px;
    margin: 50px auto;
  panding: 20px;
  bacground-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba (0,0,0,0.1);
}
.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}
